.badge {
	margin-left: 3px;
}
.notification {
	background-color: #555;
	color: white;
	text-decoration: none;
	padding: 6px 12px;
	position: relative;
	display: inline-block;
	border-radius: 2px;	top: 4px;
  }
  
  .notification:hover {
	background: rgb(0, 255, 21);
  }
  
  .notification .badge {
	position: absolute;
	top: -6px;
	right: -10px;
	padding: 5px 10px;
	border-radius: 50%;
	background: red;
	color: white;
  }